@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --main-color: #0a68b1;
  --onhover-color: #51A3A3;
  --white-color: #fff;
  --icon-color: #044389;
  --secondary-color: #0a68b1;
}

a:hover {
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0;
  line-height: 1.4;
  font-family: "Cabin", sans-serif;

}
h1,h2,h3,h4,h5,h6{
  font-family: "Bubblegum Sans", sans-serif;
}
img {
  max-width: 100%;
}
.ml-auto, .mx-auto {
  margin-left: auto !important;
}

/* --Header Section Start-- */
.header_Section_main_wrapper {
  background-color: #f7f7f7;
  padding: 10px;
}

.header_Section_main_wrapper ul {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header_Section_main_wrapper ul li a {
  color: #333;
}

.action_box {
  display: flex;
  gap: 25px;
  font-size: 14px;

}

/* --Header Section End-- */
/* --Navbar Section Start-- */
.navbar_section_main_wrapper {
  padding: 10px 0px;
  position: sticky;
}

.navbar_section_main_wrapper .navbar-brand {
  width: 220px;
}

.navbar_section_main_wrapper .navbar-light .navbar-nav .nav-link {
  color: #333;
  font-size: 15px;
  font-weight: 600;
  transition: 0.5s all;
}

.navbar_section_main_wrapper ul {
  display: flex;
  gap: 15px;
}

.nav-item {
  border-radius: 5px;
}

.navbar-inverse.menu ul li a {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  background: transparent;
}

.nav-item.active {
  background-color: var(--secondary-color);
  color: #fff;
}

.navbar-light .navbar-nav .active>.nav-link {
  color: var(--white-color);
  color: #fff;
}

.nav-item:hover {
  background-color: var(--secondary-color);
  color: var(--white-color) !important;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #fff !important;
}

/* --Navbar Section End-- */
/* --Footer Section Start-- */
.footer_section_main_wrapper {
  margin-top: 50px;
}

ul {
  margin: 0px;
  padding: 0px;
}

.footer-section {
  background: #151414;
  position: relative;
}

.footer-cta {
  border-bottom: 1px solid #373636;
}

.single-cta i {
  color: var(--main-color);
  font-size: 30px;
  float: left;
  margin-top: 8px;
}

.cta-text {
  padding-left: 45px;

}

.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}

.cta-text span {
  color: var(--white-color);
  font-size: 15px;
}

.footer-content {
  position: relative;
  z-index: 2;
}

.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}

.footer-logo {
  margin-bottom: 30px;
}

.footer-logo img {
  max-width: 200px;
}

.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #fff;
  line-height: 28px;
}

.footer-social-icon span {
  color: var(--white-color);
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
  position: relative;
}

.footer-social-icon span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}

.footer-social-icon a {
  color: var(--white-color);
  font-size: 16px;
  margin-right: 15px;
}

.fa-instagram {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  transition: 0.5s all;
  background-color: red;
  border-radius: 50%;
}

.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  transition: 0.5s all;
  border-radius: 50%;

}

.footer-social-icon i:hover {
  border-radius: 10%;
  transform: rotate(360deg);
}

.facebook-bg {
  background: #3B5998;
}

.twitter-bg {
  background: #55ACEE;
}

.google-bg {
  background: #DD4B39;
}

.footer-widget-heading h3 {
  color: var(--white-color);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}

.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: var(--main-color);
}

.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}

.footer-widget ul li a:hover {
  color: var(--onhover-color);
}

.footer-widget ul li a {
  color: var(--white-color);
  text-transform: capitalize;
}

.subscribe-form {
  position: relative;
  overflow: hidden;
}

.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}

.subscribe-form button {
  position: absolute;
  right: 0;
  background: var(--main-color);
  padding: 13px 20px;
  border: 1px solid var(--main-color);
  top: 0;
}

.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}

.copyright-area {
  background: #202020;
  padding: 25px 0;
}

.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: var(--white-color);
}

.copyright-text p a {
  color: #ff5e14;
}

.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}

.footer-menu li:hover a {
  color: #ff5e14;
}

.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

/* --Footer Section End-- */

/* --Banner Section Start-- */
.carousel .thumbs {
  display: none;
}

.item img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  position: relative;
}
.item::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 600px;
  background-color: #5454546b;
  left: 0;
  top: 0;
  z-index: 8;
}
.item_text {
  position: absolute;
  top: 200px;
  left: 50%; /* Adjust based on your layout */
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; /* Centers text horizontally */
  z-index: 99999;
}
.item_text p {
  color: #fff;
  text-align: center;
}
 .item_text h1 {

  font-family: "Open Sans";
  letter-spacing: 5px;

  color: rgb(255, 255, 255);
  text-align: center;
  line-height: 70px;
  font-weight: 700;
  font-size: 60px;
}
.banner_btn {
  background-color: #fff;
  padding: 10px 25px;
  border: none;
  margin-top: 50px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  transition: 0.5s all;
  cursor: pointer;
}
 .banner_btn:hover {
  color: var(--white-color);
  background: var(--main-color);

}
p.carousel-status {
  display: none;
}

/* --Banner Section End-- */

/* --Choose Us Section Start-- */
.choose_us_section_main_wrapper {
  position: relative;
}

.choose_us_section_main_wrapper .choose_head h4 {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 40px;
  color: #333;
}

.choose_us_section_main_wrapper .icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: var(--icon-color);
  box-shadow: 0px 10px 30px -4px rgba(0, 0, 0, 0.15);
}

.choose_us_section_main_wrapper .fa-stethoscope {
  font-size: 40px;
  color: #fff;
}

.choose_us_section_main_wrapper .choose_text h4 {
  font-size: 20px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
}

.choose_us_section_main_wrapper .choose_text {
  width: calc(100% - 60px);
}
.choose_text.pl-3.mb-3 {
  padding-left: 20px;
}

/* --Choose Us Section End-- */
/* --About Counter Section Start-- */
.counter_section_main_wrapper {
  background-color: var(--main-color);
  padding: 40px;
}

.counter_section_main_wrapper .counter_text {
  text-align: center;
}

.counter_section_main_wrapper .counter_text h1 {
  font-weight: 700;
  font-size: 50px;
  color: #fff;
  margin-bottom: 10px;
}

.counter_section_main_wrapper .counter_text p {
  font-size: 17px;
  color: #fff;
}

/* --About Counter Section End-- */
/* --Faq Section Start-- */
.faq_section_main_wrapper {
  position: relative;
  background: #f8f9fd;
  padding: 50px 0; /* Adjusted padding for better spacing */
}

.faq_section_main_wrapper .faq_head {
  padding-top: 50px;
}

.faq_section_main_wrapper .faq_head h2 {
  font-size: 30px;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.8);
}

.faq_section_main_wrapper .card {
  border: none;
  position: relative;
  margin-top: 20px; 
}

.faq_section_main_wrapper .card::after {
  position: absolute;
  content: "";
  top: 18px;
  right: 9px;
  border: 1px solid #fff;
  width: 10px;
  height: 10px;
  border-bottom: none;
  border-left: none;
  transform: rotate(135deg);
}

.faq_section_main_wrapper .accordion-header {
  padding: 10px 15px;
  background-color: var(--icon-color);
  border: none;
  border-radius: 5px 5px 0px 0px;
  color: #fff;
  margin-bottom: 20px;
}
button.accordion-button.collapsed{
  padding: 10px 15px; 
  background-color: var(--icon-color);
  border: none;
  border-radius: 0;
  color: #fff;
}
.accordion-header .accordion-button {
  background-color: var(--icon-color);
  color: #fff;
  padding: 5px;
}


.faq_section_main_wrapper .card-body ol li {
  margin-bottom: 20px;
}

.faq_section_main_wrapper .card-body {
  padding: 20px 30px;
}

.faq_section_main_wrapper .faq_pic1 img,
.faq_section_main_wrapper .faq_pic2 img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.faq_section_main_wrapper .btn-link:hover {
  text-decoration: none;
}

/* --Faq Section End-- */
/* --Service Section Start-- */
.service_section_main_wrapepr {
  /* margin-top: 50px; */
  background-color: #f8f9fd;
  height: auto;
  padding: 70px 0px;
}
.service_head h3 {

  text-align: center;
  font-size: 1.75rem;
  border-color: #eaeaea !important;
  color: #3b3d42;
  font-weight: 700;
}

.containers {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  gap: 60px;

  >* {
    flex-grow: 1;
    flex-basis: 0;
  }

  .card {
    display: flex;
    flex-direction: column;
    min-width: 20rem;
    max-width: calc(12.5rem + 13vw);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 8px #cfcfcf55,
      0 8px 8px #0004;
    transition: transform 300ms ease;

    &:hover,
    &:focus-within {
      transform: scale(1.05);
    }

    .card_pic {
      height: 250px;
      object-fit: cover;
      width: 100%;
    }

    img {
      display: block;
      max-width: 100%;

      height: auto;
      object-fit: cover;
    }

    .card-info {

      h3 {
        padding-block: 16px;
        text-align: center;
        font-size: 1.5rem;
      }

      .card-text {
        padding-inline: 16px;
        line-height: 1.3;
        text-align: center;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        overflow: hidden;
      }


    }
  }
}

.btn-14 {
  background-color: var(--main-color);
  border: none;
  z-index: 1;
  display: flex;
  padding: 10px;
  border-radius: 10px;
  margin: 19px auto;
  position: relative;
  cursor: pointer;
  color: var(--white-color);
}

.btn-14:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  background-color: var(--onhover-color);
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5);
  transition: all 0.3s ease;
}

.btn-14:hover {
  color: var(--white-color);

}

.btn-14:hover:after {
  top: auto;
  bottom: 0;
  height: 100%;
}

.btn-14:active {
  top: 2px;
}


/* --Service Section Start-- */

/* --Team abt Section Start-- */
.team_abt_section_main_wrapper {
  margin-top: 100px;
}

.team_abt_section_main_wrapper .team_head h2 {
  text-align: center;
  font-size: 1.75rem;
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-color: #eaeaea !important;
  color: #3b3d42;
  font-weight: 700;
}

.abt_pic img {
  border: 6px solid #e8e8e8;
  transition: 0.5s all;
}

.abt_pic img:hover {
  box-shadow: 0px 0px 5px 1px #2a2a2a;
}

.abt_txt h2 {
  color: #3b3d42;
  font-family: montserrat, sans-serif;
  font-weight: 700;
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.abt_txt p {
  color: #5d5d5d;
  font-size: .875rem;
  line-height: 1.6;
  text-align: justify;
}

/* --Team abt Section End-- */
/* --Our Dr Section Start-- */
.our_dr_section_main_wrapper {
  margin-top: 100px;
}

.dr_head h2 {
  text-align: center;
  font-size: 1.75rem;

  margin-bottom: 30px;
  border-color: #eaeaea !important;
  color: #3b3d42;
  font-weight: 700;
}

.shadow {
  box-shadow: 0 0 2px 1px #ccc !important;
  padding: 10px;
  margin-top: 30px;
}


.staff-detail h4 {
  text-align: center;
  margin-top: 10px;
  color: #333;
  font-weight: 600;
}

.staff-detail span {
  font-weight: 500;
  font-size: 1rem;
  padding: 5px;
  display: block;
  text-align: center;

}

.staff-detail p {
  font-size: 13px;
  line-height: 1.6;
  padding-bottom: 15px;
  text-align: justify;
}

.staff_time {
  margin-bottom: 10px;
}

.staff_time p {
  color: #5d5d5d;
  font-size: 14px;
}

.staff_icon ul {
  display: flex;
  list-style-type: none;
  gap: 10px;
  margin-bottom: 15px;
}

.staff_icon ul li a {
  color: #333;
}

.staff_btn {
  color: #000;
  position: relative;
  border: none;
  transition: all 0.3s ease;
  overflow: hidden;
  padding: 8px 8px;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 15px;
}


.staff_btn:after {
  position: absolute;
  content: " ";
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--onhover-color);
  transition: all 0.3s ease;
}

.staff_btn:hover {
  background: transparent;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
    -4px -4px 6px 0 rgba(116, 125, 136, .2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, .5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
  color: #fff;
}

.staff_btn:hover:after {
  -webkit-transform: scale(2) rotate(180deg);
  transform: scale(2) rotate(180deg);
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
    -4px -4px 6px 0 rgba(116, 125, 136, .2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, .5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
}

/* --Our Dr Section Start-- */